/********** 초기화 *********/
:root {
    --main-color-01: #3d3d3b;
    --main-color-02: #4c5870;
    --main-color-03: #ebedec;
    --main-color-04: #a2a9af;

    --gray-color-100: #fafafa;
    --gray-color-200: #f2f2f2;
    --gray-color-300: #e6e6e6;
    --gray-color-400: #d9d9d9;
    --gray-color-500: #cccccc;
    --gray-color-600: #bfbfbf;
    --gray-color-700: #b3b3b3;
    --gray-color-800: #a6a6a6;
    --gray-color-900: #999999;

    --h1-font-size : 32px;
    --h2-font-size : 24px;
    --h3-font-size : 19px;
    --h4-font-size : 16px;
    --h5-font-size : 12px;
    --h6-font-size : 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

body {
    /* 중앙 정렬 */
    width: 1240px;
    margin: 0 auto;    
    background-color: black;
    color: var(--main-color-03);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-color-04);
}

img {
    border: 0;
}

button {
    background-color: none;
    margin: 0;
    padding: 0;
    border: none;
}

/********** 헤더 *********/

.header {
    height: 85px;
    position: relative;
}

.header > .header-nav {
    position: absolute;
    right: 0px;
    top: 0px;
}

.header > .header-nav > ul { overflow: hidden; }
.header > .header-nav > ul > li { float : left; }
.header > .header-nav > ul > li > button {
    display: block;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--main-color-04);
    cursor: pointer;
}

.header > .header-nav > ul > li > button:hover {
    color: white;
}

.header > .header-gnb > .btn-title {
    position: absolute;
    left: 0px;
    top: 30px;
    padding: auto auto;
    font-size: var(--h1-font-size);
    color: white;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
}

.header > .header-gnb > .menu {
    position: absolute;
    left: 250px;
    top: 30px;
}

.header > .header-gnb > .menu > ul { overflow: hidden; }
.header > .header-gnb > .menu > ul > li { float : left; }
.header > .header-gnb > .menu > ul > li > button {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--main-color-04);
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.header > .header-gnb > .menu > ul > li > button:hover {
    color: white;
}

.header > .header-gnb > .btn-main-search {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    cursor: pointer;
}

.header > .header-gnb > .btn-main-search > img {
    display: block;
    margin: auto;
}

/********** 본문 *********/

.slide-container {
    width: 1240px;
    height: 470px;
    position: relative;
    overflow: hidden;
}

.slide-container .slide-wrapper {    
    width: 1240px;
    height: 470px;
    display: flex;
}

.slide-container .slide-wrapper .slide-item {
    width: 240px;
    height: 360px;
    margin-right: 10px;
    cursor: pointer;
}

.slide-container .slide-wrapper .slide-item .thumnail {
    width: 100%;
    height: 100%;
    cursor: pointer;
}



/********** 푸터 *********/

.footer {
    height: 350px;
}

/********** 모달 *********/

.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 900px;
    border-radius: 20px;
    z-index: 1000;
    display: none;
}

.modal-test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 900px;
    border-radius: 20px;
    z-index: 1000;
    display: none;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.25) 50%,
        rgba(20, 20, 20, 1) 100%
    ), url(../images/entertainments/2days_1night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../images/icon/icon_btn_close.png);
    color: white;
    cursor: pointer;
}

.modal-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    padding: 20px 20px;
    display: table;
}

.modal-title {
    display: table-row;
    height: 60px;
}

.modal-content {
    display: table-row;
    height: 100%;
}

/********** 로그인 *********/
